logging:
  service:
    pipelines: {}

metrics:
  receivers:
    hostmetrics:
      type: hostmetrics
      collection_interval: 60s  # lower if we need more frequent checking
  processors:
    metrics_filter:
      type: exclude_metrics
      metrics_pattern:
        - agent.googleapis.com/processes/*
  service:
    pipelines:
      default_pipeline:
        receivers: [hostmetrics]
        processors: [metrics_filter]
